.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: flex-start; /* Align content to the top */
  flex-direction: column;
  color: white;
  text-align: left; /* Ensure text is aligned to the left */
  height: 600px;
  padding: 20px; /* Add some padding for spacing from the edges */
}
.slide:nth-child(1) { background: url('../images/street-night-with-traffic.jpg') no-repeat center/cover; }
.slide:nth-child(2) { background: url('../images/woman-charging-her-car-looking-cherger-bher-phone.jpg') no-repeat center/cover; }
.slide:nth-child(3) { background: url('../images/taxi-sign-night.jpg') no-repeat center/cover; }
.slide h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 100px;
}
.slide p {
  font-size: 1.5rem;
  margin-left: 100px;
}
.book-button {
  padding: 15px 30px;
  background-color: #FFD700;
  color: #000000;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-left: 100px;
  text-decoration: none;
}
.book-button:hover {
  background-color: #ffc140;
}
.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.slider-nav button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slider-nav button.active {
  background-color: #fff;
}
@media (max-width: 768px) {
  .slide h2 {
    font-size: 2rem;
  }
  .slide p {
    font-size: 1rem;
  }
}